.container {
  width: 90%;
  text-align: end;
  max-width: 300px;
  background: #250025;
  border-radius: 5px;
  margin: 10px auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.equation {
  padding: 10px 10px 0 0;
  font-size: 1.6rem;
  color: #999;
  font-family: sans-serif;
  font-weight: 100;
}

.result {
  padding-right: 10px;
  font-size: 3.2rem;
  font-weight: 200;
  font-family: sans-serif;
}
